// scss-lint:disable NestingDepth,SelectorDepth
.navbar-default {
  .navbar-collapse {
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  .navbar-brand {
    .wordmark {
      transition: fill .3s;
    }

    &:focus,
    &:hover {
      outline: 0;

      .wordmark {
        fill: $color-primary-alt;
      }
    }
  }

  .navbar-nav {
    margin-bottom: 0;

    @media (min-width: $screen-sm-min) {
      float: right;
    }

    > li {
      &:last-child {
        border-bottom: 2px solid $color-primary;

        @media (min-width: $screen-sm-min) {
          border-bottom: 0;
        }
      }

      > a {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;

        @media (min-width: $screen-sm-min) {
          padding-left: 10px;
          padding-right: 10px;
          font-size: 14px;
        }

        @media (min-width: $screen-md-min) {
          padding-left: 18px;
          padding-right: 18px;
          font-size: 16px;
        }

        @media (min-width: $screen-lg-min) {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }

    .sign-in-up-btn {
      @media (min-width: $screen-sm-min) {
        border: 1px solid $color-primary;
        border-radius: 3px;
        padding: 4px 20px;
        margin-left: 25px;
        margin-top: 9px;
        background-color: $color-white;
        color: $color-primary;
        font-weight: 600;

        &:hover,
        &:focus {
          background-color: $color-primary;
          color: $color-white;
          outline: 0;
        }
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        margin-left: 10px;
      }

      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        margin-left: 15px;
      }

      @media (min-width: $screen-md-min) and (max-width: $screen-lg) {
        margin-left: 18px;
      }

      @media (min-width: $screen-md-min) {
        padding: 5px 30px;
      }
    }
  }
}
// scss-lint:enable NestingDepth,SelectorDepth
